body, html{
  width: 100%;
  height: 100%;
  color: #10bb00;
  background-color: #353535;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana;
  list-style:none;
}

nav{
  width: 100%;
  height: 60px;
  position: absolute;
  background-color: #222222;
  top: 0;
  left: 0;
  z-index: 1;
}
nav>ul{
  width: 100%;
  height: 100%;
  text-align: left;
  color: #10bb00;
}
nav>ul>li{
  display: flex;
  float: left;
  width: 20%;
  text-align: center;
  line-height: 50px;
  position: relative;
}
nav>ul>li>a{
  display: absolute;
  color: #10bb00;
  text-decoration: none;
  font-size :.9em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: flex
  ;
}
nav>ul>li>a::after{
  content:'';
  height:0px;
  width: 100%;
  position: absolute;
  background-color: #228900;
  bottom: 0;
  left: 0;
  transition: all ease-in-out .2s;
}
nav>ul>li>a:hover{
  background-color: #0808087e;
}
nav>ul>li>a:hover::after{
  height: 4px;
}

nav>ul>li:hover>ul{
  display: flex;
}
nav>ul>li>ul{
  display: absolute;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  height: auto;
  background-color: #222222;
  display: none;
}

nav>ul>li>ul>li>a{
  text-decoration: none;
  color: #10bb00;
  display: flex;
  width: 100%;
  height: 100%;
}
nav>ul>li>ul>li>a:hover{
  background-color: #0808087e;
}

.carousel {
width: 80%;
height: 60%;
transform: translateZ(0);
background-color: white;
}

.carousel input {
position: absolute;
left: -10000px;
}

.carousel__stage {
overflow: hidden;
font-size: 0;
white-space: nowrap;
width: 100%;
height: 140%;
transition: text-indent 600ms;
position: relative;
}

.carousel__item {
display: inline-block;
width: 100%;
height: 50%;
overflow: hidden;
text-indent: 0;
opacity: 0.6;
text-align: center;
}

.carousel__image {
height: 300px;
width: auto;
display: inline-block;
}

.carousel__next,
.carousel__prev {
display: none;
position: absolute;
top: 30%;
color: #ffffff;
background:#0808087e;
z-index: 1;
font-size: 1rem;
padding: 20px;
cursor: pointer;
}

.carousel__prev {
left: 0;
}

.carousel__prev:after {
content: ' << ';
display: inline-block;
}

.carousel__next {
right: 0;
}

.carousel__next:after {
content: ' >> ';
display: inline-block;
}

#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1),
#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2), 
#carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3), 
#carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) {
opacity: 1;
}

#carousel1:checked ~ .carousel__stage {
text-indent: 0;
}

#carousel2:checked ~ .carousel__stage {
text-indent: -100%;
}

#carousel3:checked ~ .carousel__stage {
text-indent: -200%;
}

#carousel4:checked ~ .carousel__stage {
text-indent: -300%;
}

#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__prev,
#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__next,
#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__prev,
#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__next,
#carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3) .carousel__prev,
#carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3) .carousel__next,
#carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) .carousel__prev,
#carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) .carousel__next {
display: block;
}
div.carrosel{
padding-top: 10px;
background-color: rgb(255, 255, 255);
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: arial;
}

.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}



div.card{
display: inline-block;
width: 100%;
height: 100%;
text-align: center;
}

h3.h3{text-align:center;
margin:1em;
  text-transform:capitalize;
  font-size:1.7em;
}

/********************* shopping Demo-1 **********************/
.product-grid{
  font-family:Raleway,sans-serif;
  text-align:center;
  padding:0 0 72px;
  border:1px solid rgba(0,0,0,.1);
  overflow:hidden;
  position:relative;
  z-index:1
}
.product-grid .product-image{
  position:relative;
  transition:all .3s ease 0s
}
.product-grid .product-image a{
  display:block
}
.product-grid .product-image input{
  width:100%;
  height:160;
  background-size: cover;
  border-style: hidden;
}
.product-grid .pic-1{
  opacity:1;
  transition:all .3s ease-out 0s
}

.product-grid .product-discount-label,.product-grid .product-new-label{
  color:#fff;
  background-color:#10bb00;
  font-size:12px;
  text-transform:uppercase;
  padding:2px 7px;
  display:block;
  position:absolute;
  top:10px;
  left:0
}
.product-grid .rating{
  color:#FFD200;
  font-size:12px;
  padding:12px 0 0;
  margin:0;
  list-style:none;
  position:relative;
  z-index:-1
}
.product-grid .rating li.disable{
  color:rgba(0,0,0,.2)
}
.product-grid .product-content{
  background-color:#222222;
  text-align:center;
  padding:12px 0;
  margin:0 auto;
  position:absolute;
  left:0;
  right:0;
  bottom:-27px;
  z-index:1;
  transition:all .3s
}
.product-grid:hover .product-content{
  bottom:0
}
.product-grid .title{
  font-size:13px;
  font-weight:400;
  letter-spacing:.5px;
  text-transform:capitalize;
  margin:0 0 10px;
  transition:all .3s ease 0s
}
.product-grid .title a{
  color:#c7c7c7
}
.product-grid .title a:hover,.product-grid:hover .title a{
  color:#10bb00;
}
.product-grid .price{
  color:#999;
  font-size:17px;
  font-family:Montserrat,sans-serif;
  font-weight:700;
  letter-spacing:.6px;
  margin-bottom:8px;
  text-align:center;transition:all .3s}
.product-grid .price span{
  color:#555;
  font-size:13px;
  font-weight:400;
  text-decoration:line-through;
  margin-left:3px;
  display:inline-block
}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}

::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #222222;
border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #10bb00;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #10bb00; 
}





p{
  color: #828282;
}

select{
  background: #222222;
}

.container {
  background-color: #222222;
}
div.align{
padding-left: 10px;
padding-top: 70px;
}

div.pref{
  width: 99%;
  height: 60px;
  position: relative;
  background-color: #222222;
  padding-top: 15px;
  padding-left: 40px;
}
input.button{
  color: #10bb00;
  background-color: #3c3c3c;
  border-style: hidden;
  padding: 5px 5px 5px 5px;
}
div.pref spc{
  padding-left: 5%;
}